<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Movie Website</title>
	<link rel="stylesheet" href="{% static 'css/movieApp.css' %}">
	<link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>
<body>
	{# Load the tag library #}
	{% load bootstrap4 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
	{% include 'navbar.html' %}
	{% block content %}
		<p>ERROR block content not included</p>
		<p>OR file not saved</p>
		remove this text later
	{% endblock %}

</body>
</html>

