
<!DOCTYPE html>

<html>
<head>
	{% block scripts %}{% endblock %}
	{% load static %}
	<title>Movie Website</title>
	{# Load the tag library #}
	{% load bootstrap4 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	{% block styles %}{% endblock %}
	<link rel="stylesheet" href="{% static 'css/movieApp.css' %}">
	<link rel="stylesheet" href="{% static 'css/table.' %}">
</head>
<body>
	<header id="main-header">
		<div class ="container">
			<h1>C3 Movie Reservations</h1>
		</div>	
	</header>

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
	{% include 'navbar.html' %}
	{% block content %}
		<p>ERROR block content not included</p>
		<p>OR file not saved</p>
		remove this text later
	{% endblock %}
	{% block endscripts %}{% endblock %}
	
	<footer id="main-footer">
		<p>Copyright &copy; 2019 Computer Coding Connosieurs</p>
	</footer>

</body>
</html>

