<nav id="main-nav-bar">
		<ul>
			<li><a href="/">Home</a></li>
			{% if user.profile.isemployee %}
			<li><a href="/manager">Management Dashboard</a></li>
			<li><a href="/manager/theaters">Your Theaters</a></li>				
			<li><a href="/accounts/logout">Log Out</a></li>
			{% elif user.profile %}
			<li><a href="/showings/list">Showings</a></li>
			<li><a href="/accounts/logout">Log Out</a></li>
			{% else%}
			<li><a href="/showings/list">Showings</a></li>
			<li><a href="/accounts/login">Login</a></li>
			{% endif%}
		</ul>
</nav>
