{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<h1> Movie Reservations </h1>
<h2> Home Page </h2>
<ul><!--add hrefs later -->
    {% buttons %}
    <a class="btn btn-login btn-block" href="" role="button"> Login </a><!--link to Login page-->
    <a class="btn btn-account btn-block" href="" role="button"> Create Account </a><!--link to Add User form-->
	<a class="btn btn-list btn-block" href="showings/list/" role="button"> Movie List </a><!--link to Showings List page-->
	{% endbuttons %}
</ul>