{% extends 'base.html' %}
{% block content %}
<style>
body{
background-image:url('../../static/images/theater.jpg');
}
</style>
<h1> Movie Reservations </h1>
<br>
<h2> Home Page </h2>
<br>
<ul>
		{% if not request.user.is_authenticated %}
		<a class="btn btn-login btn-block" href="accounts/login/" role="button"> Login </a><!--link to Login page-->
		<a class="btn btn-block" href="{% url 'ticketingApps:sign-up' %}" role="button"> Create Account </a><!--link to Add User form-->
		{% else %}
		<a class="btn btn-block" href="{% url 'ticketingApps:ticket-list'%}" role="button">My Tickets</a>
		{% endif %}
		<a class="btn btn-list btn-block" href="showings/list/" role="button"> Find a Movie </a><!--link to Showings List page-->
</ul>
{% endblock %}
