{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1> Movie Reservations </h1>
<h2> Employee Home Page </h2>
<ul><!--add hrefs later -->
    {% buttons %}
    <a class="btn btn-block" href="{% url 'ticketingApps:theaters-filtered' %}" role="button"> Your Theaters </a>
    <a class="btn btn-block" href="{% url 'ticketingApps:add-theater' %}" role="button"> Create New Theater </a>
    <a class="btn btn-block" href="{% url 'ticketingApps:add-movie' %}" role="button">Add a Movie</a>
    {% endbuttons %}
</ul>
{% endblock %}