{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3> Movies List </h3>
<div class="container">
<div id="form">
<form style="width:90%" action="{% url 'ticketingApps:search-movies' %}" type="get">
	<h5>Search:</h5>
	<label style="display:inline; padding-left:0.5em;">Movie Name: </label><input id="mName" type="text" name="mName" style="margin-top:.5em">
	<button id="theater_search_submit" type="submit" class="button button-small" style="margin-left:2em;margin-top:.5em">Search</button><br>
</form>
</div>
<br><br>
	{% for movie in movie_list %}
	<div class="row justify-content-md-center">
		<div class="col-sm-1">
			{% if movie.poster %}
			<img src="{{ movie.poster.url }}" class="img-fluid float-right" style="max-height: 75px;"/>
			{% endif %}
		</div>
		<div class="col-sm-9">
		<div class="container">
		<div class="row">
		<div class="col-md-auto">
			<h3> {{movie.movietitle}} {% if movie.movierating %}({{movie.movierating}}){% else %}(Not rated){% endif %}</h3> 
		</div>
		</div>
		<div class="row">
		<div class="col-sm-5">
		Release Date: {{movie.moviereleasedate}}, Runtime: {{movie.movieruntime}} minutes, Genre: {{movie.moviegenre}}<br>
		{{movie.moviedescription}}
		
		</div>
		<div class="col-md-auto"> 
			<a href="{% url 'ticketingApps:edit-movie' pk=movie.movieid %}">
				<button class="btn button button-small float-right" style="margin-top:.1em; margin-bottom:2em; margin-left:2em">
					Edit Movie
				</button>
			</a>
		</div>
		</div>
		</div>
		</div>	
	</div>
	{% empty %}
		<tr> No movies yet. </tr>
	{% endfor %}
<div class="pagination" style="justify-content: center">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a class="button button-small" href="?page=1">&laquo; first</a>
				<a class="button button-small" href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			</span>
	
			{% if page_obj.has_next %}
				<a class="button button-small" href="?page={{ page_obj.next_page_number }}">next</a>
				<a class="button button-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
<br><br><br>
</div>
{% endblock %}
