{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% for seat in seats %}
<h4>Ticket</h4>
<ul>
	<li> Theatre: {{theatername}} </li>
	<li> Movie: {{moviename}} </li>
	<li> Room number: {{roomnumber}} </li>
	<li> Time: {{showingtime}} </li>
	<li> Seat: R:{{seat.seatrow}}| C:{{seat.seatcol}} </li>
	<li> OrderId: {{orderid}} </li>
</ul>
<p>----------------------------</p>
<!-- QR CODE TO ADD -->
{% endfor %}
{% buttons %}
<input type="button" value="Print" onclick="window.print()">
{% endbuttons %}