{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
<h4>Tickets</h4>
<ul>
<li> Theater: {{theatername}} </li>
<li> Movie: {{moviename}} </li>
<li> Room Number: {{roomnumber}} </li>
<li> Time: {{showingtime}} </li>
<li> Confirmation Number: {{order.orderid}} </li>
{% for seat in seats %}
<li> Seat: Row:{{seat.seatrow}} | Seat:{{seat.seatcol}} </li>
{% endfor %}
</ul>

{% buttons %}
<input type="button" value="Print" onclick="window.print()">
{% endbuttons %}