{% extends 'base.html' %}
{% load bootstrap4 %}
{% load qr_tags %}
{% block content %}
<h4>Tickets</h4>
<ul>
<li> Theater: {{theatername}} </li>
<li> Movie: {{moviename}} </li>
<li> Room Number: {{roomnumber}} </li>
<li> Time: {{showingtime}} </li>
<li> Confirmation Number: {{order.orderid}} </li>
<br>
{% for priceBundle in order.pricepointbundle_set.all %}
{% if priceBundle.quantity is not 0 %}
<li>{{priceBundle.pricepoint.name}}: {{priceBundle.quantity}} ticket{% if priceBundle.quantity is not 1 %}s{% endif %}</li>
{% endif %}
{% endfor %}
<br>
{% for seat in seats %}
<li>Row: {{seat.seatrow}}, Seat: {{seat.seatcol}} </li>
{% endfor %}
</ul>
{% qr_from_text order.qrcodetext 'l' %}

{% buttons %}
<input class="button button-small" type="button" value="Print" onclick="window.print()">
{% endbuttons %}
{% endblock %}