
{% if showing %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script type='text/javascript'>
        var seatsBoughtJ = {{ seatsBought|safe }};
        var seatsPickedJ = {{seatsPicked|safe}};
        var rowsJ = {{numberRows}};
        var colsJ = {{numberCols}};
        var title = "{{showing.movie.movietitle}}";
        var mTime = "{{showing.time}}";
    </script>
    <div id="vapp">
    <head>
      <title>Vue Demo #1: The Box App</title>
      <meta charset='utf-8' />
      <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    /> 
    <link type="text/css" rel="stylesheet" href="/static/css/table.css"></style>
    </head>
    
    <body>
      <h1>Seat Preview and Selection</h1>
      <h3>Seats for [[movieTitle]]</h3>
        The screen is located here
          <table :width="String(15*numberCols)" cellpadding="1 px" cellspacing="5 px">
            <tr>
                <template v-for="i in numberCols">
                    <td>
                        <template v-for="j in numberRows">
                            <table v-on:click="seatClick([[i]],[[j]])" width="100%" cellpadding="10 px" cellspacing="5 px" >
                                <tr>
                                    <td :bgcolor="[[picked[ j ][ i ] ]]">
                                    </td>
                                </tr>
                            </table>
                        </template>
                    </td>
                </template>
            </tr>
        </table>
            <a v-bind:href="url">Buy Tickets </a>
      </div>
    <!-- Our View App goes at the end of the document -->
    
    
    <script>
    
    var vapp=new Vue({
            el: '#vapp',
            delimiters: ['[[', ']]'],
            data: { 
                movieTitle: title,
                time: mTime,
                numberRows: rowsJ,
                numberCols: colsJ,
                seatsBought: seatsBoughtJ,
                picked: seatsPickedJ,
                toBuy: {},
            },
            /*mounted: function(){
                this.movieTitle=title,
                this.time=mTime,
                this.numberRows=rowsJ,
                this.numberCols=colsJ,
                this.seatsBought=seatsBoughtJ,
                this.picked=seatsPickedJ,
            },*/
            methods: {
                //toggleBox() {
                  //  this.display == 'redbox' ? this.display = 'greenbox' : this.display = 'redbox'
               // },
                seatClick(i,j){
                    if(this.picked[String(j)][String(i)]=="#666666"){
                        //this seat is already bought
                    }else if(this.picked[j][i]=="#0544F0"){
                        this.picked[j][i]="#00F133"
                        this.toBuy[j*this.numberCols+i]=true
                    }else{
                        this.picked[j][i]="#0544F0"
                        this.toBuy[j*this.numberCols+i]=false
                    }
                }
            },
            computed: {
                url: function(){
                    
                }
            }
        });
    </script>
    </body>
{% endif %}
