{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<h1> Movie Ticketing </h1>
<h3> Showings List </h3>
<link rel="stylesheet" href="{% static 'css/movieApp.css' %}">
<table>
	{% for movieshowing in movieshowing_list %}<!--add href for layout-->
	<tr><!--pass roomnumber to linked page-->
		<td><a class="btn-link" href=""> {{movieshowing.movie.movietitle}} in Room {{movieshowing.room.roomnumber}} </a></td>
		<td>  </td>
		<td><a href="{% url 'ticketingApps:seat-selection' showing=movieshowing.id %}">Look at Seats</a></td>
	</tr>
	{% empty %}
		<tr> No showings yet. </tr>
	{% endfor %}
</table>