{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3>Showing Detail</h3>
<div class="row">
    <div class="col-sm-4">
        {% if object.movie.poster %}
        <img src="{{ object.movie.poster.url }}" class="img-fluid" />
        {% endif %}
    </div>
    <div class="col-sm-8">
        Movie: {{object.movie.movietitle}}<br>
        Time: {{object.time}}<br>
        Theater: {{object.room.theater.theatername}}<br>
        Room: {{object.room.roomnumber}}<br>
        Seats Sold: {{percentSold}}%<br>
        Revenue: ${{revenue}}<br>
    </div>
</div>
<br><br>
<h4>All Orders</h4>
{% for order in orders %}
<h5><b>Order {{order.orderid}}</b></h5>
<ul>
    {% if order.profile %}
    <li>Customer: {{order.profile.user.first_name}} {{order.profile.user.last_name}}</li> 
    {% endif %}
    <li> Total: ${{order.cost}}</li>
    <br>
    {% for priceBundle in order.pricepointbundle_set.all %}
        {% if priceBundle.quantity is not 0 %}
        <li>{{priceBundle.pricepoint.name}}: {{priceBundle.quantity}}</li>
        {% endif %}
    {% endfor %}
    <br>
    {% for seat in order.order_of.all %}
    <li> Seat: Row:{{seat.seatrow}} | Seat:{{seat.seatcol}} </li>
    {% endfor %}
    <br><br>
</ul>
{%empty%}
No orders yet.
{% endfor %}
{% endblock %}