{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<h1> Movie Ticketing </h1>
<h3> Showings List </h3>
<ul>
	{% for movieshowing in movieshowing_list %}<!--add href for layout-->
	<li><!--pass roomnumber to linked page-->
		<a class="btn-link" href="" value="{{movieshowing.room_roomnumber}}"> {{movieshowing.room_theater_theaterid}} {{movieshowing.room_roomnumber}} {{movieshowing.movie_idmovie}} </a>
	</li>
	{% empty %}
		<li> No showings yet. </li>
	{% endfor %}
</ul>