{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1> Movie Ticketing </h1>
<h3> Search </h3>
<div class="whitespace">	
Search:
You can use as many or few fields as desired
</div>
<form action="{% url 'ticketingApps:search-theater' %}" type="get">
	Theater Name: <input id="name" type="text" name="name"><br>
	Theater City: <input id="tCity" type="text" name="tCity"><br>
	Theater State: <input id="tState" type="text" name="tState"><br>
	<button id="theater_search_submit" type="submit">Search</button><br>
</form>
<br>
<h3> Theater List </h3>
<table class="centered">
	{% for theater in theater_list %}
		<tr>
			<th> <a href="{% url 'ticketingApps:theater-detail' pk=theater.theaterid %}"><b>{{theater.theatername}}</b></a> located at {{theater.theaterstreet}} {{theater.theatercity}}, {{theater.theaterstate}}</th>
			<th></th>
			<th><a href="{%url 'ticketingApps:add-showing' theaterId=theater.theaterid%}"><button>Add Showing</button></a></th>
        </tr>
	{% empty %}
		<li> No theaters yet. </li>
	{% endfor %}
</table>
{% endblock %}
