{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<h1> Movie Ticketing </h1>
<h3> Search </h3>
<form action="{% url 'ticketingApps:search-theater' %}" type="get">
	Theater Name: <input id="name" type="text" name="name">
	<button id="theater_search_submit" type="submit">Search</button><br>
</form>
<br>
<h3> Theater List </h3>
<table>
	{% for theater in theater_list %}
		<tr>
			<th> <b>{{theater.theatername}}</b> located at {{theater.theaterstreet}} {{theater.theatercity}}, {{theater.theaterstate}}</th>
			<th></th>
			<th><a href="{%url 'ticketingApps:add-showing' theaterId=theater.theaterid%}">Add Showing</a></th>
			<th></th>
			<th><a href="{% url 'ticketingApps:add-room' theaterId=theater.theaterid%}">Add Room</a></th>
        </tr>
	{% empty %}
		<li> No theaters yet. </li>
	{% endfor %}
</table>